.c1 {
font-size:35px;
color:orange;
}

#s1{

font-size:50px;
background-color:yellow;
}

p{

text-align:center;

font-weight:900;
font-style:Italic;
letter-spacing:0.2em;
}

h2:hover

{

background-color:blue;
}

*{
background-color:green
}

